<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form action="/team" method="post">
    <p>Team Name: <input type="text" name="name" id="name"></p>
    <p>Coach: <input type="text" name="coach" id="coach"></p>
    <p>PG: <input type="text" name="pg" id="pg"></p>
    <p>SG: <input type="text" name="sg" id="sg"></p>
    <p>SF: <input type="text" name="sf" id="sf"></p>
    <p>PF: <input type="text" name="pf" id="pf"></p>
    <p>C: <input type="text" name="c" id="c"></p>
    <input type="submit" id="Submit">
  </form>  
 </body>
</html>


